* {
  box-sizing: border-box;

  font-size: 14px;
  scroll-margin-top: 64px;
}

/*CSS RESET START*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*CSS RESET END*/

/*COLOR VARIABLES START*/
:root {
  --dark-text: #141751;
  --light-text: #ffffff;
  --footer-text-color: #e7f0f8;

  --dark-button-bg: #3a8aca;
  --dark-button-text: #ffffff;
  --dark-button-hover-bg: #2179bf;
  --light-button-bg: #ffffff;
  --light-button-text: #034387;
  --light-button-hover-bg: #d5ebfd;

  --accent-blue: #afcfe9;
  --accent-rose: #a55ba4;
}
/*COLOR VARIABLES END*/

/*COMMONT STYLES START*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
  overflow: hidden;
  background: #f8f8f9;
}
/* H1 */
.main_title {
  font-family: 'Lato', sans-serif;
  font-size: 42px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}
/* Section title */
.section_title {
  color: var(--dark-text);
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
}
/* Usual text */
.text {
  color: var(--dark-text);
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
}
.main_button {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 6px;
  background: var(--dark-button-bg);
  color: var(--dark-button-text);
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 201px;
  transition: all 0.3s;
}
.main_but_arrow {
  width: 20px;
  height: 18px;
}
.main_button:hover {
  background: var(--dark-button-hover-bg);
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
  text-decoration: none;
}
svg g path {
  transition: all 0.3s;
}
.main_button:hover svg g path {
  fill: #ffffff;
  transition: all 0.3s;
}
svg {
  transition: all 0.3s;
}
.main__button--light:hover {
  color: var(--dark-text);
}
.main_button:hover svg {
  transform: rotate(90deg);
  transition: all 0.3s;
}
.revenue_menu a {
  color: #a5a5a7 !important;
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  text-decoration: none;
  position: relative !important;
  transition: color 0.3s ease !important;
}
.revenue_menu a::after {
  content: '' !important;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 1.5px;
  display: block;
  background-color: #afcfe9;
  transition: 0.3s;
  margin-top: 2px;
}
.revenue_menu a:hover::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  height: 1.5px !important;
  display: block;
  background-color: #afcfe9;
  transition: 0.3s;
  margin-top: 2px;
}
.revenue_menu a:hover {
  color: var(--dark-text) !important;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1 !important;
}
.modal {
  overflow-y: auto;
}
.modal-open {
  overflow: auto;
}

.modal-open[style] {
  padding-right: 0px !important;
}
.modal-dialog {
  max-width: 1000px;
}
a:hover {
  text-decoration: none !important;
}
@media (max-width: 1700px) {
  .revenue_menu,
  .about__menu {
    display: none !important;
  }
}
