.cory-section {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 56px;
    padding: 40px;
    margin: 0 auto 180px;
    align-items: start;
    max-width: 1440px;
}

.cory-section__text-container,
.cory-section__image-container {
    max-width: 1126px;
    width: 100%;
}

.cory-section__text-container {
    grid-row: 1;
    grid-column: 1;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.cory-section__title {
    color: var(--dark-text);
    font-family: Lato;
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.cory-section__text {
    color: var(--dark-text);
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 32px;
    max-width: 836px;
    width: 100%;
}

.cory-section__image-container {
    grid-row: 2;
    grid-column: 1;
    margin-top: auto;
    width: 100%;
    height: auto;
}

.photo-main {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo-main-mobile {
    display: none;
}

.cory-section__title-container {
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 100%;
    height: 100%;
    max-width: 244px;
    max-height: 676px;
    padding: 40px;
    background-color: var(--accent-rose);
    border-radius: 4px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    transform-origin: center; 
}

.cory-section__title-container h2 {
    color: var(--light-text);
    color: #FFF;
    font-size: 120px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg); 
}

@media (max-width: 1500px) {
    .cory-section {
        margin: 0 auto 100px;
        gap: 32px;
    }
}

@media (max-width: 1250px) {
    .cory-section__title-container h2 {
        font-size: 100px;
    }

    .cory-section {
        margin: 100px auto 20px;
    }
}

@media (max-width: 900px) {
    .cory-section {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }

    .cory-section__title-container {
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        max-width: 100%;
    }

    .cory-section__text-container {
        grid-row: 2;
        grid-column: 1;
    }

    .cory-section__image-container {
        grid-row: 3;
        grid-column: 1;
    }

    .cory-section__title-container h2 {
        font-size: 90px;
        line-height: 91px;
        writing-mode: horizontal-tb;
        transform: none;
        text-align: left;
        margin: 0;
        padding-top: 0;
        padding-left: 0;
    }
}

@media (max-width: 590px) {
    .cory-section__title-container h2 {
        font-size: 80px;
    }
}
@media (max-width: 550px) {
    .cory-section__title-container {
        padding: 30px;
    }
}

@media (max-width: 520px) {
    .cory-section__title-container h2 {
        font-size: 42px;
        line-height: 43px;
        padding: 0;
    }

    .cory-section__title-container {
        padding: 40px 38px;
    }

    .cory-section__text {
        font-size: 16px;
    }

    .cory-section__title {
        font-size: 20px;
        line-height: 25.6px;
        margin-bottom: 12px;
    }

    .cory-section__text-container {
        padding: 0 27px;
    }

    .cory-section {
        padding: 0 20px;
        gap: 24px;
    }
}

@media (max-width: 388px) {
    .cory-section__text {
        width: 299px;
    }

    .photo-main {
        display: none;
    }

    .cory-section__title-container {
        max-width: 340px;
    }

    .photo-main-mobile {
        display: block;
        width: 100%;
        max-width: 340px;
        border-radius: 4px;
    }
}