.dig-main {
  height: calc(100svh - 108px);
  top: 108px;
  width: 100svw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.dig_video {
  z-index: 3;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dig-main_cover {
  height: calc(100.5svh - 108px);
  width: 100svw;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('../../digital-marketing/assets/img/main/desktop.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}

.dig-main_wrapper {
  padding: 11% 0 0 11%;
  z-index: 9;
}

.dig-main_title {
  color: #fff;
  max-width: 911px;
  margin-bottom: 12px;
}
.dig-main_subtitle {
  color: #fff;
  font-family: 'Manrope', sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 140%;
  margin-bottom: 42px;
  max-width: 423px;
}

.white_button {
  background-color: #fff;
  color: #034387;
  width: 216px;
}
.white_button:hover {
  background-color: #d5ebfd;
  color: #034387;
}
.white_button:hover svg g path {
  fill: #3a8aca;
  transition: all 0.3s;
}

a {
  text-decoration: none;
}
@media (max-width: 1480px) {
  .dig-main {
    height: calc(100svh - 107px);
    top: 107px;
  }
}
@media (max-width: 1370px) {
  .dig-main {
    height: calc(100svh - 59px);
    top: 59px;
  }
  .dig-main_cover {
    height: calc(100.5svh - 59px);
    width: 100.5svw;
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
  }
}
@media (max-width: 1250px) {
  .dig-main {
    align-items: flex-end;
    justify-content: center;
  }
  .dig-main_wrapper {
    padding: 0;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1050px) {
  .dig-main_title {
    font-size: 20px;
    max-width: 310px;
    font-weight: 700;
  }
  .dig-main_subtitle {
    font-size: 16px;
    max-width: 269px;
    font-weight: 400;
  }
  .white_button {
    width: 309px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .dig-main_cover {
    background-image: url('../../digital-marketing/assets/img/main/mobile2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .dig-main_wrapper {
    padding-bottom: 80px;
  }
  .dig-main_subtitle {
    max-width: 309px;
    margin-bottom: 12px;
  }
}
