.dev-services {
  padding-top: 220px;
  width: 100%;
  position: relative;
}

.revenue_menu {
  position: absolute;
  top: 60%;
  transform: translateY(-40%);
  display: flex;
  padding: 22px 15px 22px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 22px;
  border-radius: 0px 4px 4px 0px;
  background: #fff;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.05);
  max-width: 127px;
  z-index: 99;
}

.revenue_menu a {
  color: #a5a5a7;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-decoration: none;
}

.revenue_menu a:hover {
  opacity: 0.6;
}

.revenue_menu.sticky {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.dev-services__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px auto 0;
  flex-direction: row;
  gap: 100px;
}

.dev-services__content-image {
  width: 100%;
  max-width: 692px;
  height: 100%;
  max-height: 601px;
}

.dev-services__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dev-services__content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 745px;
}

.dev-services__content-title {
  color: #141751;
  font-family: Lato;
  font-size: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  width: 542px;
  margin-bottom: 42px;
}

.dev-services__content-text {
  color: #141751;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  width: 656px;
  margin-bottom: 12px;
}

@media (max-width: 1780px) {
  .revenue_menu {
    display: none;
  }
}

@media (max-width: 1628px) {
  .dev-services_wrapper {
    padding: 0;
    gap: 20px;
  }
}

@media (max-width: 1540px) {
  .dev-services__content {
    gap: 50px;
    padding: 0px 50px 0;
  }
}

@media (max-width: 1370px) {
  .dev-services__content {
    gap: 0px;
  }

  .dev-services {
    padding-top: 150px;
  }
}

@media (max-width: 1270px) {
  .dev-services__content-container {
    max-width: 600px;
  }

  .dev-services__content-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    width: 500px;
  }

  .dev-services__content-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    width: 500px;
  }
}

@media (max-width: 1000px) {
  .dev-services__content {
    flex-direction: column;
  }

  .dev-services__content-container {
    order: 1;
  }

  .dev-services__content-image {
    order: 2;
    margin-top: 32px;
  }
}

@media (max-width: 620px) {
  .dev-services {
    padding-top: 100px;
    padding-bottom: 0;
  }
}

@media (max-width: 590px) {
  .dev-services__content-container,
  .dev-services__content-text,
  .dev-services__content-title  {
    max-width: 450px;
  }

  .dev-services__content-title {
    margin-bottom: 24px;
  }
}

@media (max-width: 520px) {
  .dev-services__content-container,
  .dev-services__content-text,
  .dev-services__content-title  {
    max-width: 350px;
  }

  .dev-services__content-title  {
    max-width: 163px;
  }
}

@media (max-width: 450px) {
  .dev-services__content {
    padding: 20px;
  }
}