.dev-impetus {
  width: 100%;
  padding-top: 180px;
}
.dev-impetus_wrapper {
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
.dev-impetus-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dev-impetus-content-texts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.dev-imp-title {
  color: var(--dark-text);
  font-family: 'Lato', sans-serif;
  font-size: 52px;
  font-weight: 800;
  text-transform: uppercase;
}
.dev-imp-text {
  color: var(--dark-text);
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 160%;
}
.dev-imp-cont-img {
  width: 100%;
  height: auto;
}
.dev-imp-img {
  width: 258px;
  height: 100%;
}
.mob_img-dev {
  display: none;
}
@media (max-width: 1700px) {
  .dev-impetus_wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 1420px) {
  .dev-impetus_wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1100px) {
  .dev-impetus_wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1060px) {
  .dev-imp-img {
    display: none;
  }
  .mob_img-dev {
    display: block;
  }
  .dev-impetus_wrapper {
    flex-direction: column;
  }
}
@media (max-width: 772px) {
  .dev-imp-title {
    font-size: 20px;

    padding-left: 20px;
    padding-right: 20px;
  }
  .dev-imp-text {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 24px;
  }
  .dev-impetus {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .dev-impetus_wrapper {
    gap: 24px;
  }
}
