.home-main {
  height: calc(99svh);
  top: 108px;
  width: 100svw;
  display: flex;
  position: relative;
  overflow: hidden;
}

.home-main__video {
  z-index: 3;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-main__cover {
  height: calc(101svh);
  min-width: 100svw;
  position: absolute;
  top: -16px;
  left: 0;
  background-image: url('../../digital-marketing/assets/img/main/desktop.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 5;
}

.home-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 5;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 183px;
  width: 100%;
  height: 100%;
  max-width: 663px;
  max-height: 500px;
}

.home-main__title {
  color: var(--light-text);
  text-align: left;
  font-family: Lato;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 62.4px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.home-main__text {
  color: var(--light-text);
  text-align: left;
  font-family: Manrope;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.8px;
  width: 585px;
  margin-bottom: 42px;
}

.main__button--light {
  background-color: var(--light-button-bg);
  color: var(--light-button-text);
}

.main__button--light:hover {
  background-color: var(--light-button-hover-bg);
  cursor: pointer;
  transition: all 0.3s;
}

.main__button--light:hover svg g path {
  fill: #3a8aca;
  transition: all 0.3s;
}

.main_button--dem {
  width: 216px;
  height: 49px;
}

a {
  text-decoration: none;
}

@media (max-width: 1700px) {
  .home-main__container {
    right: 123px;
    max-width: 653px;
  }
}

@media (max-width: 1555px) {
  .home-main__title {
    font-size: 42px;
    line-height: 52.4px;
  }

  .home-main__text {
    font-size: 18px;
    line-height: 26.8px;
    width: 485px;
    margin-bottom: 50px;
  }

  .home-main__container {
    right: 13px;
    max-width: 593px;
  }
}

@media (max-width: 1480px) {
  .home-main {
    top: 107px;
  }
}

@media (max-width: 1370px) {
  .home-main {
    top: 58px;
  }
  .home-main__cover {
    width: 100.5svw;
    position: absolute;
    top: -16px;
    left: 0;
    height: 102svh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 5;
  }
}

@media (max-width: 1300px) {
  .home-main__title {
    font-size: 32px;
    line-height: 42.4px;
    width: 400px;
  }

  .home-main__text {
    font-size: 16px;
    line-height: 24.8px;
    width: 400px;
  }

  .home-main__container {
    right: 13px;
    max-width: 483px;
  }
}

@media (max-width: 1100px) {
  .home-main__container {
    left: 0;
    right: 0;
    top: initial;
    bottom: 0;
  }

  .home-main__title,
  .home-main__text {
    width: 100%;
    text-align: center;
  }

  .home-main__text {
    margin-bottom: 32px;
  }

  .home-main__container {
    align-items: center;
  }
}

@media (max-width: 575px) {
  .home-main__container {
    max-width: 270px;
    top: initial;
    bottom: 0;
  }

  .home-main__cover {
    background-image: url('../../digital-marketing/assets/img/main/mobile2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .home-main__title {
    font-size: 28px;
    line-height: 33px;
  }

  .home-main__text {
    font-size: 16px;
    line-height: 22.4px;
    width: 270px;
    margin-bottom: 0px;
  }

  .main__button--light {
    width: 270px;
    height: 40px;
  }

  a.main_button.main_button--dem {
    width: 269px !important;
    height: 40px !important;
  }
}

@media (max-width: 432px) {
  .home-main__text {
    margin-bottom: 0;
  }

  .home-main__video {
    top: 50%;
    left: 35%;
    transform: translate(-35%, -50%);
  }
}
