.ready-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 180px 0;
    padding: 56px 536px 57px 536px;
    gap: 64px;
    background: url('../assets/img/ready-cta/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ready-cta__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.ready-cta__title {
    color: var(--dark-blue, #141751);
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    max-width: 725px;
}

.ready-cta__text {
    color: var(--dark-blue, #141751);
    text-align: center;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
}

.ready-cta__btn-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    min-height: 50px;
    box-sizing: border-box;

}

.ready-cta__left-btn {
    width: 249px !important;
    height: 49px !important;
    margin-top: 0 !important;
}

.ready-cta__right-btn {
    width: 271px !important;
    height: 49px !important;
    margin-top: 0 !important;
}

@media (max-width: 1500px) {
    .ready-cta {
        padding: 56px 336px 57px 336px;
    }
}

@media (max-width: 1100px) {
    .ready-cta {
        margin: 100px 0;
        padding: 56px 236px 57px 236px;
    }
}

@media (max-width: 900px) {
    .ready-cta__btn-container {
        flex-direction: column;
        gap: 24px;
    }

    .ready-cta__title {
        max-width: 297px;
        font-size: 32px;
        line-height: 120%;
    }

    .ready-cta__text {
        font-size: 18px;
    }

    .ready-cta {
        padding: 47px 26px;
        margin: 80px 0;
    }
}